
    <div class="row col-md-12">
        <div class="panel panel-default">
<div>{{geneSearch}}</div>
            <div class="panel-body">
                <div>
                    <p>use cog references to search for a gene in the dataset</p>
                    <div class="row col-md-6">
                        <input type="text" class="form-control input-lg" placeholder="Select a gene..." ng-model="geneSearch" ng-change="inputChanged()" ng-trim="true">

                    </div>

                    <div class="row col-md-6">
                        <button ng-click="fetchGraphRef()">Fetch Graph</button>
                    </div>
                    <div class="row col-md-12">

                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th>cog_ref</th>
                                    <th>type</th>
                                    <th>metadata</th>
                                </tr>
                                <tr class="clickable-row" ng-repeat="gene in genes | orderBy:sortBy:reverse">
                                    <td>
                                        {{gene.cog_ref}}
                                    </td>
                                    <td>
                                        {{gene.type}}
                                    </td>
                                    <td>
                                        {{gene.metadata}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row col-md-12" id="cy"></div>
                </div>
            </div>
        </div>
    </div>
