<link href="/css/styles.css" rel="stylesheet" type="text/css">
<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="/lib/cytoscape-cola/jhgjh/cytoscape-cola.js" type="text/javascript"></script>
<script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>

<!-- for testing with local version of cytoscape.js -->
<!--<script src="../cytoscape.js/build/cytoscape.js"></script>-->

<script src="http://marvl.infotech.monash.edu/webcola/cola.v3.min.js"></script>

<script src="/lib/cytoscape/cytoscape.min.js" type="text/javascript"></script>
<script src="/js/graphs/basic.js" type="text/javascript"></script>


<div class="row col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div>
                <h1>DNA Search...</h1>
                <p>Use case gene: MQKWERFFPNPDYMNIPSFSRSVSRGSAVGWFLVLLLVCGAGAGYYLYQDNLAKRKAAQELTAERKLKEKKAREAA</br>EKQRIKREREIREKKEKERLAAQKAYEEAQEEKARQAAEAARKLQEQAEREEREKRRREELERREREEEARRQEEDTPVEEEPEPEGRFPQPVKNRMPEL</br>SVYSIPCRDDIQTEKDKLLETWSWDKAEKMEGMEEFPTGSSPWKKGKDAGRMQALLEKCREWKDAKLASLKACPAAKDFPGVPENGAQTVRRTVEIDS</br>NIGGWHSTGLYAPPGAEISCSLSGAPKDGSISVRIGCHTDSLHKLDEWKRVPEITMQVPAGRGRVKMVNPMGGLVYVNVGQRPRRGKVFKVQISGAVPS</br>PLFVMGKTTPEQWAEQLENTKAPWGEIRMPRLIVTMPVEQLKQCPDVQKTAEFLQKNMALQDWIMGWDTKPDRLHHPMRFVVDRQISAGAGHSGYPA</br>MATKDWTNSIATGSIIHSGSWGLWHELGHNHQSPPFTMEGQTEVSVNIFSMVCEVMGTGKDFESCWGGGMGPYGMSAEMKKYFSGTQTYNEAPNK</br>VQLFFWVELMYYLGFDAFRQVALQFHDKPYDNGELSDEKKWEWVMNAFSKVTGKNMGPFFKIWRTPVSERATGRMKDLPAWLPSKDYPACYTAEE</p>
                <div class="row col-md-12">
                    <textarea class="form-control input-lg" placeholder="MQKWERFFPNPDYMNIPSFSRSVSRGSAVGWFLVLLLVCGAGAGYYLYQDNLAKRKAAQELTAERKLKEKKAREAA
EKQRIKREREIREKKEKERLAAQKAYEEAQEEKARQAAEAARKLQEQAEREEREKRRREELERREREEEARRQEEDTPVEEEPEPEGRFPQPVKNRMPEL
SVYSIPCRDDIQTEKDKLLETWSWDKAEKMEGMEEFPTGSSPWKKGKDAGRMQALLEKCREWKDAKLASLKACPAAKDFPGVPENGAQTVRRTVEIDS
NIGGWHSTGLYAPPGAEISCSLSGAPKDGSISVRIGCHTDSLHKLDEWKRVPEITMQVPAGRGRVKMVNPMGGLVYVNVGQRPRRGKVFKVQISGAVPS
PLFVMGKTTPEQWAEQLENTKAPWGEIRMPRLIVTMPVEQLKQCPDVQKTAEFLQKNMALQDWIMGWDTKPDRLHHPMRFVVDRQISAGAGHSGYPA
MATKDWTNSIATGSIIHSGSWGLWHELGHNHQSPPFTMEGQTEVSVNIFSMVCEVMGTGKDFESCWGGGMGPYGMSAEMKKYFSGTQTYNEAPNK
VQLFFWVELMYYLGFDAFRQVALQFHDKPYDNGELSDEKKWEWVMNAFSKVTGKNMGPFFKIWRTPVSERATGRMKDLPAWLPSKDYPACYTAEE" ng-model="sequenceSearch" ng-trim="true"></textarea>
                </div>

                <div class="row col-md-12">
                    <div class="row col-md-6">
                        <button ng-click="sequenceQuery()">Search</button>
                    </div>
                </div>

                <div class="row col-md-12" ng-hide="tabular == null">
                    <div class="table-responsive">
                        <table class="table">
                            <theader>
                                <h2>Results</h2></theader>
                            <tr>
                                <th>Gene</th>
                                <th>Person id</th>
                                <th>Scaffold</th>
                                <th>Location</th>
                                <th>Match%</th>
                                <th>Alignment-Length</th>
                                <th>Mismatches</th>
                                <th>Gap opens</th>
                                <th>Query Start</th>
                                <th>Query End</th>
                                <th>Sequence Start</th>
                                <th>Sequence End</th>
                                <th>E-Value</th>
                                <th>Bit Score</th>
                            </tr>
                            <tr ng-repeat="row in tabular">
                                <td ng-repeat="field in row">
                                    {{field}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <br>
                <div class="row col-md-12 alert alert-danger" ng-show="error">
                  <strong>Error:</strong> {{error}}
                </div>
                <div class='row col-md-12'>
                    <!--use this for showing details of selected nodes-->
                    <table class="table">
                        <theader>
                            <h3>Selected Gene</h3></theader>
                        <tr>
                            <th>Code</th>
                            <th>Person ID</th>
                            <th>Coverage</th>
                            <th>Type</th>
                            <th>Scaffold</th>
                            <th>Location Alightment</th>
                            <th>COG Reference</th>
                            <th>KEGG Reference</th>
                            <th>Taxonomy</th>
                            <th>Search Cog Ref</th>
                            <th>Search Gene ID</th>
                        </tr>
                        <tr>
                            <td>{{selected_genome.gene.code}}</td>

                            <td>{{selected_genome.gene.person_id}}</td>
                            <td>{{selected_genome.gene.coverage}}</td>
                            <td>{{selected_genome.gene.type}}</td>
                            <td>{{selected_genome.gene.scaffold}}</td>
                            <td>{{selected_genome.gene.location}}</td>
                            <td>{{selected_genome.gene.cog_ref}}</td>
                            <td>{{selected_genome.gene.kegg_ref}}</td>
                            <td>
                                <ul>
                                    <li ng-repeat="tax in selected_genome.genome.taxonomy">{{tax}}</li>
                                </ul>{{tax}}
                            </td>
                            <td>
                                <button ng-show='selected_genome.gene.cog_ref != "NA"' ng-click="expandGraph()">Search</button>
                            </td>
                            <td>
                                <button ng-click="searchByGeneID()">Search</button>
                            </td>
                    </table>
                </div>
                <div class='row col-md-12'>
                    <div id="cy"></div>
                </div>

            </div>
        </div>
    </div>
</div>
